@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1280px;
}

.container{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border: none;
  display: inline-block;
  appearance: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  color: #000000;
  display: flex;
  align-items: flex-start;
  padding: 0 70px;
}

.header-logo{
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
  position: relative;
}

.logo-display{
  display: block;
}

.header__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.header__navigation-btn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 132px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

/* Лупа и сердечко */
.icon{
  text-decoration: none;
  display: block;
  height: 64px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.icon-search{
  background-image: url(../images/icons/search.svg);
}

.icon-favorites{
  background-image: url(../images/icons/favorites.svg);
}

/* Избранное - 12 */
.header__navigation-favorites {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.header__navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
  display: block;
}

.button__header{
  margin-top: 14px;
  margin-bottom: 14px;
}


.main-inner{
  flex-grow: 1;
}

.intro {
  background-image: url(../images/welcome/vector-for-banner.svg), url(../images/welcome/background-banner.jpg);
  background-color: #618fb7;
  color: #ffffff;
  background-size: 1200px auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  padding: 51px 70px 82px;
  text-align: center;
}

.intro__welcome{
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages__container{
  padding: 69px 70px;
  margin: 0;
  margin-bottom: 21px;
}

.advantages__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.break{
  display: block;
}

.advantages__subtitle{
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item{
  background-color: rgb(131, 179, 211, 0.12);
  color: #000000;
  padding: 112px 85px;
  box-sizing: border-box;
  width: 400px;
}

.advantages__item:nth-child(odd):not(.advantages__item-wide){
  background-color: rgb(131, 179, 211, 0.2);
}

.advantages__item-wide{
  background-color: #82B3D3;
  width: 1200px;
  color: #ffffff;
  padding: 0;
}


.advantages__wrapper{
  display: flex;
}

.advantages__item-wrapper{
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
}

.advantages__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}

.advantages__text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.advantages__image{
  display: block;
}

.advantages__image-bridge{
  order: -1;
}


.services {
  text-align: center;
}

.services__wrapper{
  padding: 64px 70px;
  margin: 0;
}

.services__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.services__subtitle{
  margin: 0;
  padding: 0;
}

.services__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services__item{
  width: 400px;
  padding: 70px 85px;
  box-sizing: border-box;
}

.services__item-home{
  /* background-image: url(../images/icons/icon-home.svg); */
  background-color:  rgb(131, 179, 211, 0.12);
  color: #000000;
  /* background-repeat: no-repeat;
  max-height: 72px; */
}

.services__item-food{
  /* background-image: url(../images/icons/icon-food.svg); */
  background-color: #ffffff;
  color: #000000;
  /* background-repeat: no-repeat;
  max-height: 72px; */
}

.services__item-souvenir{
  /* background-image: url(../images/icons/icon-souvenir.svg); */
  background-color:  rgb(131, 179, 211, 0.12);
  color: #000000;
  /* background-repeat: no-repeat;
  max-height: 72px; */
}

.services__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

}

.services__text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.hotel-search{
  text-align: center;
  padding: 96px 70px;
  margin: 0;
}

.hotel-search__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.hotel-search__subtitle{
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.button_big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.newsletter {
  text-align: center;
  padding: 96px 70px;
  margin: 0;
}

.newsletter-background-image {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-color: #3c5243;
  color: #ffffff;
}

.newsletter__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.newsletter__subtitle {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.newsletter__form{
  display: flex;
  justify-content: center;
}

/*
.email{
  width: 452px;
  text-align: left;
  padding: 14px;
  padding-left: 20px;
  padding-right: 345px;
  display: block;
} */

.button_submit {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;

}

.footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.social{
  width: 190px;
}

.social__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 5px 0;
}

.social__item{
  width: 47px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-telephone__number {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin: 0;
}

.partners{
 width: 115px;
}

.footer__logo{
  margin: 8px 0;
}

.main-catalog{
  flex-grow: 1;
}


.catalog__bacground-image {
  background-image: url(../images/catalog/background-catalog.jpg);
  background-size: cover;
  background-color: #3c5243;
  color: #ffffff;
  padding: 0 70px;
}

.catalog__header {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

/* Изображение домика - главной страницы */
/* .breadcrumbs-link-home{
  background-image: url(../images/icons/home.svg);
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  display: block;
} */

.breadcrumbs-link:last-child{
  margin-right: 0;
}

.catalog-filter{
  display: flex;
}

.catalog-filter__group{
  width: 140px;
  margin: 0;
  border: none;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter__item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter__price__wrapper{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 140px;
  border: none;
}

.catalog-filter__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-button__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.button-white {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.sorting__wrapper{
  display: flex;
  padding: 50px 70px 40px;
  align-items: flex-start;
  gap: 70px;
}

.sorting__tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: auto;
}


.select-control{
  width: 292px;
  margin: 0;
}

.sorting__show{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 160px;
  flex-wrap: wrap;
  gap: 8px;
}

.sorting__image-cards {
  background-image: url(../images/display-view/view-cards.svg);
  width: 16px;
  height: 14px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.sorting__image-large {
  background-image: url(../images/display-view/view-large.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  margin-right: 8px;
}

.sorting__image-list {
  background-image: url(../images/display-view/view-list.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.catalog-hotels__list {
  list-style-type: none;
  display: flex;
  padding: 0 70px;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
}

/* .catalog-hotels__item{
  padding: 20px;
} */

.catalog-hotels__item:not(:last-child){
  margin-right: 20px;
}

.catalog-hotels__link{
  text-decoration: none;
  display: block;
  /* margin-bottom добавляем сюда */
}

.catalog-hotels__tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.catalog-hotels-wrapper{
  margin: 0;
  padding: 0;
}

.catalog-hotels__type {
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter__button {
  text-decoration: none;
}

.catalog-filter__favorites {
  background-color: #82b3d3;
}

.star {
  height: 17px;
  width: 105px;
  display: inline-block;
}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/catalog/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.star-4::before {
  width: 85px;
}

.star-3::before {
  width: 65px;
}

.star-2::before{
  width: 45px;
}

.star-1::before{
  width: 20px;
}

.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

.current-favorites {
  background-color: #7db54f;
}

.pagination {
  list-style-type: none;
  display: flex;
  padding: 0 70px;
  margin: 0;
  margin-bottom: 60px;
  gap: 8px;
}


.pagination-link {
  min-width: 60px;
  height: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  width: 60px;
  height: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-ellipsis{
  padding: 17px 21px;
  margin: 0;
  margin-right: 8px;
  display: block;
}

.pagination-link:last-child{

}

.newsletter__title-catalog{
  color: #000000;
}

.newsletter__subtitle-catalog{
  color: #333333;
}

.newsletter-catalog {
  background-color: #82b3d3;
}
